body {
  background: url("background.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 700px;
  color: rgb(73, 52, 0);
  text-decoration: none;
  font-size: larger;
}
